  <div class="signup-form">	

	<h2>Create Account</h2>
    <%= form_for @user do |f| %>
		<%= render 'shared/error_messages' %>
        <div class="form-group">
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-user"></i></span>
                <%= f.text_field :name, class: "form-control", placeholder: "Enter user name" %>
			</div>
        </div>
        <div class="form-group">
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-paper-plane"></i></span>
				<%= f.text_field :email, class: "form-control", placeholder: "Enter email" %>
			</div>
        </div>
		<div class="form-group">
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-lock"></i></span>
				 <%= f.password_field :password, class: "form-control", placeholder: "Enter password" %>
        </div>
        </div>
		<div class="form-group">
			<div class="input-group">
				<span class="input-group-addon">
					<i class="fa fa-lock"></i>
					<i class="fa fa-check"></i>
				</span>
				<%= f.password_field :password_confirmation, class: "form-control", placeholder: "Enter password confirmation" %>
			</div>
        </div>        
		<div class="form-group">
            <%= f.submit "Sign Up", class: "btn btn-primary btn-block btn-lg" %>
        </div>
    <% end %>
	<%# <div class="text-center">Already have an account? <%= link_to "Login", login_path%></div> %>